.fs-80{
    font-size: 80%;
}

.login-form{
    max-width: 500px;
    margin: 100px auto 0;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
}

.admin-left-menu-wrap{
    background: #3c434a;
    color: white;
    position: fixed;
    min-width: 250px;
    overflow-y: auto;
    height: 100%;
    padding-top: 50px;
    border-right: 1px solid #ccc;
}

.admin-left-menu-wrap h3,
.admin-left-menu h5
{
    user-select: none;
    cursor: pointer;
    padding-left: 15px;
}

.admin-left-menu{
    list-style: none;
    padding: 0px;
    font-size: 14px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #e9e9e9;
    /* display: none; */
    overflow: hidden;
}

.admin-left-menu-sub li{
    height: 0;
    transition: height .3s;
    overflow: hidden;
    padding-left: 15px;
}

.admin-left-menu-sub.active li{
    height: 30px;
}

.admin-left-menu li a{
    padding: 7px 7px 7px 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.admin-left-menu li a.active{
    font-weight: bold;
}

.admin-left-menu.active li{
    /* display: block; */
}

/* .admin-left-menu.active li{
    animation: 0.4s left-menu-products-show;
}

.admin-left-menu.fade li{
    animation: 0.4s left-menu-products-fade;
} */

@keyframesy left-menu-products-show{
    from{
        top: -400px;
    }
    to{
        top: 0px;
    }
}

@keyframesy left-menu-products-fade{
    from{
        top: 0px;
    }
    to{
        top: -400px;
    }
}

.admin-main-content{
    padding-left: 270px;
    padding-right: 15px;
    padding-top: 60px;
}
.login .admin-main-content{
    padding-left: 15px;
}

.admin-top-panel{
    display: flex;
    justify-content: space-between;
    background: #3c434a;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.admin-profile{
    margin: 10px 0;
    display: flex;
}

.admin-top-panel a{
    text-decoration: none;
}

.admin-top-panel h3,
.admin-profile .name{
    color: white;
}

.admin-profile a.logout{
    color: red;
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 0 10px;
}

.admin-users-avatar{
    max-width: 80px;
    max-height: 80px;
}